.metadata
trec_eval.9.0
serd-0.18.2
bin
build
*.class
trank-indexes
labeller-*
evaluation/yago*
evaluation/dbpedia*
linkedbrainz*
geonames*
7pixel-ontology*
7pixel-property*
labelling/labelling.jar
RemoteSystemsTempFiles
logs
.~lock.*

